<html>
<head>
    <title>DNS for Curtin Computing // labdns</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrap">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="page-header">
                <h1>labdns <small>DNS for Curtin Computing</small></h1>
            </div>
            <div class="well">
                <h2 class="centered">Here's a random lab machine...</h2>
                <form>
                    <input type="text" id="random_host" class="form-control input-lg" value="{{ random_host.hostname }}" />
                </form>
            </div>
            <table class="table table-striped table-condensed">
            <thead>
                <th>Room</th>
                <th>Machine</th>
                <th>IP</th>
                <th>Hostname</th>
                <th>Last Updated</th>
            </thead>
            <tbody>
                {% for host in known_hosts %}
                    <tr>
                        <td>{{ host.room }}</td>
                        <td>{{ host.machine }}</td>
                        <td>{{ host.ip }}</td>
                        <td>{{ host.hostname }}</td>
                        <td>{{ host.last_updated|timesince }} ago</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>